[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
geolinks = "*"
gevent = "*"
gunicorn = "*"
Jinja2 = "*"
lxml = "*"
OWSLib = "*"
psycopg2-binary = "*"
pyproj = "*"
requests = "*"
Shapely = "*"
six = "*"
SQLAlchemy = "*"
xmltodict = "*"
pycsw = {editable = true,path = "."}

[requires]
python_version = "3.6"
